/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 3rem;

    /*========== Colores ==========*/
    --hue-color: 200; 
    --pencil-green: #09d56e;
    --pencil-dark: #232123;

    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 100%, 40%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #fff;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

    /*========== fuente ==========*/
    --body-font: 'Poppins', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*========== Variables Dark theme ==========*/
body.dark-theme{
    --first-color-second: hsl(var(--hue-color), 30%, 8%);
    --title-color: hsl(var(--hue-color), 8%, 95%);
    --text-color: hsl(var(--hue-color), 8%, 75%);
    --input-color: hsl(var(--hue-color), 29%, 16%);
    --body-color: hsl(var(--hue-color), 28%, 12%);
    --container-color: hsl(var(--hue-color), 29%, 16%);
}

/*========== Button Dark/Light ==========*/
.nav__btns{
  display: flex;
  align-items: center;
}
.change-theme{
  font-size: 1.25rem;
  color: var(--title-color);
  margin-right: var(--mb-1);
  cursor: pointer;
}

.change-theme:hover{
  color: var(--first-color);
}
/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  cursor:url(/assets/img/cursorxd.gif), auto;
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*==================== REUSABLE CSS  ====================*/
.section {
  padding: 2rem 0 4rem;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}

.section__title, 
.section__subtitle {
  text-align: center;
}

/*==================== LAYOUT ====================*/
.container {
  max-width: 768px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

.header{
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);

}

/*==================== NAV ====================*/
.nav{
  max-width: 968px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__toggle{
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav__logo:hover{
  color: var(--first-color);
}

.nav__toggle{
  font-size: 1.1rem;
  cursor: pointer;
}

.nav__toggle:hover{
  color: var(--first-color)
}

@media screen and (max-width: 767px) {
  .nav__menu{
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0,0,0,.15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: .3s;
  }  
}

.nav__list{
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nav__link{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav__link:hover{
  color: var(--first-color);
}

.nav__icon{
  font-size: 1.2rem;
}

.nav__close{
  position: absolute;
  right: 1rem;
  bottom: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--first-color);
} 

.nav__close:hover{
  color: var(--first-color-alt)
}
/* show menu */
.show-menu{
  bottom: 0;
}

/* Active link */
.active-link{
  color: var(--first-color);
}
/* Change background header */
.scroll-header{
  box-shadow: 0 -1px 4px rgba(0,0,0,.15);
}

.uil-moon{
  color: var(--first-color);
}
.uil-apps,.uil-times,.nav__logo{
  animation: colores 2s infinite;
}
@keyframes colores { 
  from { 
      color: red; 
  } to { 
      color: blue; 
  }
}

.nav__logo{
  animation: bordes 5s infinite;
}
.nav__logo:hover{
  border-bottom: 2px solid red;
  border-top: 2px solid blue;
}
@keyframes bordes { 
  0% { 
    filter: drop-shadow(-8px 8px 1px red);
  } 25% { 
    filter: drop-shadow(8px -8px 1px blue); 
  } 50% { 
    filter: drop-shadow(-8px -8px 1px red);
  }
  60% { 
    filter: drop-shadow(-8px -8px 1px blue);
  }100% { 
    filter: drop-shadow(-8px 8px 1px red);
  }
}


/*==================== INICIO ====================*/

.home__container{
  gap:1rem;
}

.home__content{
  grid-template-columns: .5fr 3fr;
  padding-top: 3.5rem;
  align-items: center;
}

.home__social{
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}

.home__social-icon{
  font-size: 1.25rem;
  color: var(--first-color);
}

.home__social-icon:hover{
  color: var(--first-color-alt);
}
.matrix{
  width:200px!important;
  filter:none!important;
}

.home__blob{
  cursor:help;
  width: 200px;
  fill: var(--first-color);
  filter: drop-shadow(-2px 2px 20px var(--first-color));
}

.home__blob-img{
  width: 170px;
  filter: saturate(0%);
}
.home__blob-img:hover{
  animation-delay: 1s;
  animation: brillar2 25s ease-out;
}
.home__data{
  grid-column: 1/3;
}
.home__title{
  font-size: var(--big-font-size);
}

#nombre{
  color: var(--first-color);
}

.home__subtitle{
  font-size: var(--h3-font-size);
  color: var(--text-color);
  font-size: var(--font-medium);
  margin-bottom: var(--mb-2);
  display: block;
  white-space: nowrap;
  border-right: 4px solid var(--first-color);
  width: 18ch;
  animation:nada 5s, typing 2s steps(25), blink .5s
  infinite step-end alternate;
  overflow:hidden;  
}
@keyframes nada {
  0% {color:red}
  10% {text-decoration:underline;}
}
@keyframes typing {
  from {width: 0}
}

@keyframes blink {
  50% {border-color: transparent }
}

.home__description{
  margin-bottom: var(--mb-2);
}

.home__scroll{
  display:none;
  margin: 0 auto;
}

.home__scroll-button{
  color: var(--first-color);
  filter: drop-shadow(-2px 2px 5px var(--first-color));
}

.home__scroll-button:hover{
  transform: translateY(.25rem);
}

.home__scroll-mouse{
  font-size: 2rem;
}

.home__scroll-name{
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-right: var(--mb-0-25);
}

.home__scroll-arrow{
  font-size: 1.25rem;
}

.flotante{
  position:absolute;
  z-index: 100;
  top:0;
  left:0;
  width: 4rem;
  animation:float 6s ease-in-out infinite;
}

.floatTiktok{
  margin-top: 5%;
  animation-delay: 1s;
}


@keyframes float {
	0% {
		transform: translatey(0px);
    filter:drop-shadow(0 0px 0px #fff);
	}
	50% {
    filter:drop-shadow(0 0px 5px #fff);
		transform: translatey(-20px);
	}
	100% {
    filter:drop-shadow(0 0px 0px #fff);
		transform: translatey(0px);
	}
}

#casita{
  flex-direction: column-reverse;
}
/*==================== BOTONES ====================*/

.button{
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem;
  border-radius: .5rem;
  font-weight: var(--font-medium);
}

.button:hover{
  background-color: var(--first-color-alt);
}

.button--white{
  background-color: #fff;
  color: var(--first-color);
}

.button--white:hover{
  background-color: #ddd;
}

.button__icon{
  font-size: 1.25rem;
  margin-left: var(--mb-0-5);
  transition: .3s;
}

.button--flex{
  display: inline-flex;
  align-items: center;
}

.button--small{
  padding: .75rem 1rem;
}

.button--link{
  padding: 0;
  background-color: transparent;
  color:var(--first-color)
}

#botonIdioma, #botonIdioma::after{
  font-family: 'Bebas Neue', cursive;
  background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 2px 0px var(--first-color);
  outline: transparent;
  position: relative;
  padding: 5px;
  cursor: pointer;
}

#botonIdioma::after,.home__blob::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

#botonIdioma:hover::after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

#botonIdioma a{
  text-decoration: none;
  color: var(--title-color);
}
.buttonCertificados{
  margin:0 auto;
}

#botonMail{
  border:none;
}

#inputMail{
  background-color:transparent;
  border:none;
  color:var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

/*==================== ACERCA DE MÍ ====================*/
.about__img{
  width: 200px;
  border-radius: .5rem;
  justify-self: center;
  align-self: center;
  filter: drop-shadow(2px 2px 10px var(--first-color));
  animation:blob 25s infinite;
  border:2px solid var(--first-color);
}

.about__description{
  text-align: center;
  margin-bottom: var(--mb-2-5);
}

.about__info{
  display:flex;
  justify-content: space-evenly;
  margin-bottom: var(--mb-2-5);
}

.about__info-title{
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.about__info-name{
  font-size: var(--smaller-font-size);
}

.about__info-title,
.about__info-name{
  display:block;
  text-align: center;
}

.about__buttons{
  display:flex;
  justify-content: center;
}
/*==================== HABILIDADES ====================*/
.skills__container{
  row-gap:0;
}

.skills__header{
  display: flex;
  align-items: center;
  margin-bottom: var(--mb-2-5);
  cursor: pointer;
}

.skills__icon,
.skills__arrow{
  font-size: 2rem;
  color: var(--first-color);
}

.skills__icon{
  margin-right: var(--mb-0-75);
}

.skills__title{
  font-size: var(--h3-font-size);
}

.skills__subtitle{
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.skills__arrow{
  margin-left: auto;
  transition: .4s;
}

.skills__title{
  display: flex;
  justify-content:space-between;
  margin-bottom: var(--mb-0-5);
}

.skills__name{
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.skills__bar,
.skills__percentage{
  height: 5px;
  border-radius: .25rem;
}

.skills__bar{
  background-color: var(--first-color-lighter);
}

.skills__percentage{
  display: block;
  background-color: var(--first-color);
}

.skills__html{
  width:100%;
}

.skills__css{
  width:100%;
}

.skills__js{
  width:100%;
}
.skills__github{
  width:100%;
}

.skills__photoshop{
  width:100%;
}
.skills__illus{
  width:100%;
}
.skills__autocad{
  width:100%;
}
.skills__sketchup{
width:100%;
}
.skills__office{
  width:100%;
}
.skills__cctv{
  width:100%;
}
.skills__alarmas{
  width:100%;
}
.skills__redes{
  width:100%;
}
.skills__close .skills__list{
  height: 0;
  overflow: hidden;
}

.skill__open .skill__list{
  height: max-content;
  margin-bottom: var(--mb-2-5);
}

.skills__open .skills__arrow{
  transform: rotate(-180deg);
}

/*==================== SERVICIOS ====================*/

.services__content{
  position: relative;
  border-radius: .25rem;
  transition: .3s;
  grid-template-columns: max-content;
  justify-content: center;
}
.services__content img{
  border-radius: .5rem;
  box-shadow: 0px 4px 10px;
}


.services-icon{
  display: block;
  font-size: 1.5rem;
  color: var(--first-color);
  margin-bottom: var(--mb-1);
}

.services__title{
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-1);
  font-weight: var(--font-medium);
}

.services__button{
  cursor: pointer;
  font-size: var(--small-font-size);
}

.services__button:hover .button__icon{
  transform: translateX(.25rem);
}

.services__modal{
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0,0,0,.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  z-index: var(--z-modal);
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}

.services__modal-content{
  position: relative;
  background-color: var(--container-color);
  padding: 1.5rem;
  border-radius: .5rem;
}

.services__modal-services{
  row-gap: 1rem;
}

.services__modal-service{
  display: flex;
}

.services__modal-title{
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1-5);
}

.services__modal-close{
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  color: var(--first-color);
  cursor: pointer;
}

.services__modal-icon{
  color:var(--first-color);
  margin-right: var(--mb-0-25);
}
/*active modal*/
.active-modal{
  opacity: 1;
  visibility: visible;
}

.acertificados{
  text-decoration: none;
  color: var(--body-font);
}
.acertificados:hover{
  color:var(--first-color-alt);
}
/*==================== PORTFOLIO ====================*/
.portfolio__container{
  overflow: initial;
}

.portfolio__content{
  padding: 0 1.5rem;
}

.portfolio__img{
  width: 265px;
  border-radius: .5rem;
  justify-self: center;
}

.portfolio__title{
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-5);
  text-transform: uppercase;
}

.portfolio__description{
  margin-bottom: var(--mb-0-75);
}

.portfolio__button:hover .button__icon{
  transform: translateX(.25rem);
}

.repo{
  background-color: var(--first-color);
  color: white;
  padding: 6px 10px 6px 10px;
  border-radius: 50%;
  margin: 10px;
}

.repo:hover{
  background-color: var(--first-color-lighter);
}
/*==================== PROYECTO EN MENTE ====================*/
.project{
  text-align: center;
}

.project__bg{
  background-color: var(--first-color);
  padding-top: 3rem;
}

.project__title{
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-0-75);
}

.project__description{
  margin-bottom: var(--mb-1-5);
}

.project__title,
.project__description{
  color: #fff;
}

.project-img{
  width: 232px;
  justify-self: center;
}
/*==================== CONTACTAME ====================*/
.contact__container{
  row-gap: 3rem;
}

.contact__information{
  display: flex;
  margin-bottom: var(--mb-2);
}

.contact__icon{
  font-size: 2rem;
  color:var(--first-color);
  margin-right: var(--mb-0-75);
}

.contact__tittle{
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}

.contact__subtitle{
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.contact__content{
  background-color: var(--input-color);
  border-radius: .5rem;
  padding: .75rem 1rem .25rem;
}

.contact__label{
 font-size: var(--smaller-font-size);
 color: var(--title-color);
}

.contact__input{
  width: 100%;
  background-color: var(--input-color);
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  border: none;
  outline: none;
  padding: .25rem .5rem .5rem 0;
}
/*==================== FOOTER ====================*/
.footer{
  padding-top: 2rem;
  color: #444;
  font-weight: 500;
}

.footer__container{
  row-gap: 3.5rem;
}

.footer__bg{
  background-color: var(--first-color);
  padding: 2rem 0 3rem;
}

.footer__title{
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-0-25);
  color: #fff;
}

.footer__subtitle{
  font-size: var(--small-font-size);
}

.footer__links{
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.footer__link{
  color: #fff;
}

.footer__link:hover{
  color: var(--first-color-alt);
}

.footer__social{
  font-size: 1.25rem;
  margin-right: var(--mb-1-5);
  color: var(--first-color-lighter);
}
.footer__social a{
  color: #fff;
}
.footer__social a:hover{
  color: blue;
}
.footer__social:hover{
  color: var(--first-color-second);
}

.footer__copy{
  font-size: var(--smaller-font-size);
  text-align: center;
  padding-top: 2rem;
  color: #fff;
}


/*========== SCROLL UP ==========*/
.scrollup{
  position: fixed;
  right: 1rem;
  bottom: -20%;
  background-color:var(--first-color-second);
  opacity: .8;
  padding: 0 .3rem;
  border-radius: .4rem;
  z-index: var(--z-tooltip);
  transition: .4s;
}

.scrollup:hover{
  background-color:var(--first-color-alt);
}

.scrollup__icon{
  font-size: 1.5rem;
  color: #fff;
}

/* Show scroll */
.show-scroll{
  bottom: 5rem;
}

/*========== SCROLL BAR ==========*/
::-webkit-scrollbar{
  width: .60rem;
  background-color: var(--scroll-bar-color);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb{
  background-color: var(--first-color);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover{
  background-color: var(--first-color-alt);
  border-radius: .5rem;
}
/*========== LOADER ==========*/
.pulse {
  height: 100px;
  width: 200px;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  filter: drop-shadow(2px 2px 1px #FF013C);
}
.pulse:after {
  content: '';
  display: block;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 200px 100px" enable-background="new 0 0 200px 100px" xml:space="preserve"><polyline fill="none" stroke-width="3px" stroke="white" points="2.4,58.7 70.8,58.7 76.1,46.2 81.1,58.7 89.9,58.7 93.8,66.5 102.8,22.7 110.6,78.7 115.3,58.7 126.4,58.7 134.4,54.7 142.4,58.7 197.8,58.7 "/></svg>') 0 0 no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-animation: 2s pulse linear infinite;
  -moz-animation: 2s pulse linear infinite;
  -o-animation: 2s pulse linear infinite;
  animation: 2s pulse linear infinite;
    clip: rect(0, 0, 100px, 0);
    filter: drop-shadow(2px 2px 1px var(--first-color));
}
.pulse:before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 2px;
  right: 2px;
  bottom: 0;
  top: 16px;
  margin: auto;
  height: 3px;
  filter: drop-shadow(5px 5px 1px var(--first-color));
}


@-webkit-keyframes pulse {
  0% {
    clip: rect(0, 0, 100px, 0);
    opacity: 0.4;
  }
  4% {
    clip: rect(0, 66.66667px, 100px, 0);
    opacity: 0.6;
  }
  15% {
    clip: rect(0, 133.33333px, 100px, 0);
    opacity: 0.8;
  }
  20% {
    clip: rect(0, 300px, 100px, 0);
     opacity: 1;
  }

  80% {
    clip: rect(0, 300px, 100px, 0);
     opacity:0;
  }

  90% {
    clip: rect(0, 300px, 100px, 0);
    opacity: 0;
  }

  100% {
    clip: rect(0, 300px, 100px, 0);
    opacity:0;
 }
}
@keyframes pulse {
  0% {
    clip: rect(0, 0, 100px, 0);
  }
  4% {
    clip: rect(0, 66.66667px, 100px, 0);
  }
  15% {
    clip: rect(0, 133.33333px, 100px, 0);
  }
  20% {
    clip: rect(0, 300px, 100px, 0);
     opacity:1;
  }

  80% {
    clip: rect(0, 300px, 100px, 0);
     opacity:0;
  }

  90% {
    opacity: 0;
  }

  100% {
    clip: rect(0, 300px, 100px, 0);
    opacity:0;
 }
  
}

/*==================== MEDIA QUERIES ====================*/
/* For small devices */
@media screen and (max-width: 350px){
  .container{
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
  .nav__menu{
    padding: 2rem .25rem 4rem;
  }
  .nav__list{
    column-gap: 0;
  }
  .home__container{
    min-height:100vh;
  }
  .home__content{
    grid-template-columns: .25fr 3fr;
  }
  .home__blob{
    width: 180px;
  }
  .skills__title{
    font-size: var(--normal-font-size);
  }

  .services__container{
    grid-template-columns: max-content;
    justify-content: center;
  }

  .service__modal{
    padding: 0 .5rem;
  }
  
  .project-img{
    width: 200px;
  }
}

/* For medium devices */
@media screen and (min-width: 568px){
  .home__content{
    grid-template-columns: max-content 1fr 1fr;
  }
  .home__data{
    grid-column: initial;
  }
  .home__img{
    order: 1;
    justify-self: center;
  }

  .about__container,
  .skills__container,
  .portfolio__content,
  .project__container,
  .contact__container,
  .footer__container{
    grid-template-columns: repeat(2, 1fr);
  }
 }

@media screen and (min-width: 768px){
  .container{
    margin-left: auto;
    margin-right: auto;
  }
  body{
    margin:0;
  }
  .section{
    padding: 6rem 0 2rem;
  }
  .section__subtitle{
    margin-bottom: 4rem;
  }
  .header{
    top: 0;
    bottom: initial;
  }
  .header,
  .main,
  .footer__container{
    padding: 0 1rem;
  }

  .nav{
    height: calc(var(--header-height) + 1.5rem);
    column-gap: 1rem;
  }
  .nav__icon,
  .nav__close,
  .nav__toggle{
    display: none;
  }
  .nav__list{
    display: flex;
    column-gap: 2rem;
  }
  .nav__menu{
    margin-left: auto;
  }
  .change-theme{
    margin: 0;
  }
  .home__container{
    row-gap: 5rem;
    min-height:100vh;
  }
  .home__content{
    padding-top: 5.5rem;
    column-gap: 2rem;
  }
  .home__blob{
    width: 270px;
  }
  .home__scroll{
    display: block;
  }
  .home__scroll-button{
    margin-left: 3rem;
  }
  .about__container{
    column-gap: 5rem;
  }
  .about__img{
    width: 350px;
  }
  .about__description{
    text-align: initial;
  }
  .about__info{
    justify-content: space-between;
  }
  .about__buttons{
    justify-content: initial;
  }
  .services__container{
      grid-template-columns: max-content;
      justify-content: center;
  }
  .services__icon{
    font-size: 2rem;
  }
  .portfolio__img{
    width: 320px;
  }
  .portfolio__content{
    align-items: center;
  }
  .project{
    text-align: initial;
  }
  .project__container{
    background-color: var(--first-color-second);
    border-radius: 1rem;
    padding: 3rem 2.5rem 0;
    grid-template-columns: 1fr max-content;
    column-gap: 3rem;
  }
  .project__data{
    padding-top: .8rem;
  }
  .footer__container{
    grid-template-columns: repeat(3, 1fr);
  }
  .footer__bg{
    padding: 3rem 0 3.5rem;
  }
  .footer__links{
    flex-direction: row;
    column-gap: 2rem;
  }
  .footer__social{
    justify-self: flex-end;
  }
  .footer__copy{
    margin-top: 4.5rem;
  }
}



/* For large devices */
@media screen and (min-width: 1024px){
  .header,
  .main,
  .footer__container{
    padding: 0;
  }
  .home__blob{
    width: 320px;
  }
  .home__social{
    transform: translateX(-6rem);
  }

  .portfolio__content{
    column-gap: 5rem;
  }
  .contact__form{
    width: 460px;
  }
  .contact__input{
    grid-template-columns: repeat(2, 1fr);
  }
}
/*==================== Ilumunación y animación de botones ====================*/
.button{
  filter: drop-shadow(-2px 2px 10px var(--first-color));
}

.button{
  animation: brillar 8s infinite;
}
#botonContacto {
  animation: wiggle 4s infinite;
  padding: 8px;
}
#botonContacto:hover{
  color: #fff;
}
.xd{
  filter:none!important;
  animation: none;
}
#no-demo{
  text-decoration: dashed;
  cursor:not-allowed;
}
@keyframes wiggle {
  0% {
    transform: rotate(0deg);
}

80% {
    transform: rotate(0deg);
}
85% {
    transform: rotate(5deg);
}
95% {
    transform: rotate(-5deg);
}
100% {
    transform: rotate(0deg);
}  
}

@keyframes brillar {
  0% {
    filter: drop-shadow(-2px 2px 5px var(--first-color));
}
50% {
    filter: drop-shadow(-2px 2px 30px var(--first-color));
}
100% {
    filter: drop-shadow(-2px 2px 5px var(--first-color));
}
}

@keyframes brillar2 {
  0% {
    filter: drop-shadow(0px 0px 1px #FF013C);
    transform:scale(1);
}
50% {
    filter: drop-shadow(-2px 2px 10px #FF013C);
}
100% {
    filter: drop-shadow(0px 0px 1px #FF013C);
    transform:scale(1.2);
}
}
/*==================== Animación de Leonel ====================*/
.animate-charcter
{
   filter: drop-shadow(2px 2px 0px #fff);
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    var(--first-color) 0%,
    var(--first-color-alt) 29%,
    #FF013C 67%,
    #ff013c85 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
/*==================== Animación de títulos ====================*/
.section__title::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}

.section__title:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.section__title::before {
  content: "";
  position: absolute;
  inset: 0 0 0 0;
  background: var(--first-color);
  z-index: -1;
  transition: transform 1s ease-in-out;
}

.section__title {
  position: relative;
}
/*==================== BLOB ANIMATION ====================*/
@keyframes blob {
	0%,
	100% {
		border-radius: 30% 70% 70% 30% / 30% 52% 48% 70%;
		box-shadow:	0 -2vmin 7vmin #0088cc inset;
	}

	10% {
		border-radius: 50% 50% 20% 80% / 25% 80% 20% 75%;
	}

	20% {
		border-radius: 67% 33% 47% 53% / 37% 20% 80% 63%;
	}

	30% {
		border-radius: 39% 61% 47% 53% / 37% 40% 60% 63%;
	}

	40% {
		border-radius: 39% 61% 82% 18% / 74% 40% 60% 26%;
	}

	50% {
		border-radius: 100%;
	}

	60% {
		border-radius: 50% 50% 53% 47% / 72% 69% 31% 28%;
	}

	70% {
		border-radius: 50% 50% 53% 47% / 26% 22% 78% 74%;
	}

	80% {
		border-radius: 50% 50% 53% 47% / 26% 69% 31% 74%;
	}

	90% {
		border-radius: 20% 80% 20% 80% / 20% 80% 20% 80%;
	}
}
/*==================== Imagen blob ====================*/


.home__blob-img:hover {
  filter: saturate(100%);
}

@keyframes color{
  0% {filter: saturate(0%);}
  100% {filter: saturate(100%);}
}
/*==================== Animación glitch ====================*/
@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}
/*==================== CARRUSEL ====================*/
@-webkit-keyframes scroll {
  0% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
  100% {
  -webkit-transform: translateX(calc(-250px * 7));
  transform: translateX(calc(-250px * 7));
  }
  }
  @keyframes scroll {
  0% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
  100% {
  -webkit-transform: translateX(calc(-250px * 7));
  transform: translateX(calc(-250px * 7));
  }
  }
  .slider {
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 90vw;
  margin-bottom: 4rem;
  margin-top: 4rem;
  }
  .slider::before, .slider::after {
  background: linear-gradient(to right, var(--body-color) 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 10rem;
  z-index: 2;
  }
  .slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
  }
  .slider::before {
  left: 0;
  top: 0;
  }
  .slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
  }
  .slider .slide {
  height: 100px;
  width: 250px;
  }

.misSkills{
  filter: drop-shadow(1px 1px 5px #fff);
}

.mario{
  filter:none;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
